* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--backgroundBody-color);
    font-family: "Mulish";
  }
  
  main {
    overflow: hidden; /*para que no se salga el contenido de los section*/
  }
  
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }