@use 'variables' as v;

@mixin telefono{
    @media (min-window-width: v.$telefono){
        @content;
    }
}
@mixin tablet{
    @media (min-window-width: v.$tablet){
        @content;
    }
}
@mixin desktop{
    @media (min-window-width: v.$desktop){
        @content;
    }
}
@mixin desktopXL{
    @media (min-window-width: v.$desktopXL){
        @content;
    }
} 
@mixin grid($columnas, $espaciado) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $espaciado;
}
@mixin desktop380{
    @media (min-window-width: v.$desktop380){
        @content;
    }
}
@mixin desktop800{
    @media (min-window-width: v.$desktop800){
        @content;
    }
}
@mixin desktop960{
    @media (min-window-width: v.$desktop960){
        @content;
    }
}
@mixin desktopXxl{
    @media (min-window-width: v.$desktopL){
        @content;
    }
}
@mixin desktopL{
    @media (min-window-width: v.$desktopL){
        @content;
    }
}
