//Fuente
@font-face {
    font-family: "Mulish";
    src: url("/src/fonts/fonts/static/Mulish-BlackItalic.ttf") format("truetype");
}

$font: "Mulish";

//Colores y tamaños para cosas globales

$amarillo:rgb(255, 196, 59);
$enlaces:#eaa213ec;

$white:rgb(218, 179, 107);
$h3: rgb(154, 17, 8);
$backgroundBody:rgb(10, 10, 10);
$Logo: rgba(173, 59, 6, 0.953);
$left: 5rem;
$LarianWidth: 6rem;
$LarianHeight: 6rem;
$h1ps1: 9rem;
$foot: 2rem;
$h1size: 3rem;
$s2ize: 2rem;
$s2height: 1200px;



// Tamaños de Media Queries

$telefono: 480px;
$tablet: 768px;

$desktop380:380px;
$desktop800:800px;
$desktop960:960px;

$desktop: 992px;
$desktopXxl: 1200px;
$desktopXL: 1024px;