//Fuente
@font-face {
    font-family: "Mulish";
    src: url("/src/fonts/fonts/static/Mulish-BlackItalic.ttf") format("truetype");
}

$--font-family: "Mulish";

//Colores

$amarillo:rgb(255, 196, 59);
$enlaces:#eaa213ec;



// Tamaños de Media Queries

$telefono: 480px;
$tablet: 768px;

$desktop380:380px;
$desktop800:800px;
$desktop960:960px;

$desktop: 992px;
$desktopXxl: 1200px;
$desktopXL: 1024px;