
/*CABEZA*/
header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5rem;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 4rem;
}

.nav-list li a {
    text-decoration: none;
    color: rgb(255, 196, 59);
}

.nav-list li a:hover {
    color: rgb(212, 33, 27);
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

@media screen and (max-width: 1024px) {

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color:rgb(255, 196, 59);
    }

    .cerrar-menu {
        color: #fffefe;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #110101;
        padding: 4rem;
        box-shadow: 0 0 0 100vmax rgba(79, 103, 144, 0.5);
        transition: all 0.5s ease-in-out;
        z-index: 1;
        height: 2812px;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
    }

    .nav-list li a {
        color: #eaa213ec;
    }

    header {
        gap: 0;
    }
}